body {
  overflow: hidden;
}
.nav-menu {
  position: fixed;
  top: 0;
  width: 290px;
  background-color: #333333;
  padding: 40px 5px 5px 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.1s;
}
.nav-menu .search-query {
  border: 2px solid #111111;
  background-color: #222222;
  color: white;
  width: 235px;
  padding-left: 34px;
}
.nav-menu > .topbar {
  position: absolute;
  top: 0;
  width: 300px;
  background-color: #222222;
  margin: -5px -5px 0;
  padding: 10px 5px 0;
  height: 35px;
  border-bottom: 1px solid black;  
}
.nav-menu > form {
  margin: 0 -5px;
  padding: 7px 5px 7px;
  border-top: 1px solid #444444;
  position: relative;
  border-bottom: 1px solid black;
}
.nav-menu > form .icon-search {
  position: absolute;
  top: 15px; left: 17px;
}
.nav-menu > .topbar span {
  color: white;
  line-height: 32px;
  margin-left: 10px;
}
.nav-menu > ul {
  list-style-type: none;
  padding: 0;
  margin: 0 -5px;
}
.nav-menu > ul li {
  padding: 0;
  margin: 0;
  width: 100%;
}
.nav-menu > ul li a {
  color: #dddddd;
  display: block;
  color: white;
  padding: 7px 12px 7px 7px;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #111111;
}
.nav-menu > ul li a span {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.nav-menu > ul li a:hover {
  color: white;
  text-decoration: none;
}
#account-nav {
  left: 0;
  width: 270px;
}
#account-nav > ul li a span {
  width: 235px;
}
#account-nav .search-query {
  width: 215px;
}

#profile-nav {
  left: 0;
  -webkit-box-shadow: -4px 0px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:    -4px 0px 5px rgba(0, 0, 0, 0.25);
  box-shadow:         -4px 0px 5px rgba(0, 0, 0, 0.25);
}

#profiles {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-box-shadow: -4px 0px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:    -4px 0px 5px rgba(0, 0, 0, 0.25);
  box-shadow:         -4px 0px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.1s;
}

#profiles > .deck {
  margin: 40px 0 0 0;
  padding: 0;
  border-top: 1px solid #ccc;
  min-width: 300px;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #ddd;
  -webkit-overflow-scrolling: touch;
}

#profiles .btn-profiles {
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.1s;  
  position: absolute;
  top: 5px;
  left: 6px;
}

.deck > ul {
  margin: 0;
  padding: 0 6px 0 0;
  width: 5000px;
}

.deck {
  font-family: 'Jockey One', sans-serif;
  text-transform: uppercase;
  color: #777777;
}

.deck .profile-title {
  padding: 6px;
}

.deck .widget {
  margin: 2px;
  float: left;
}

.deck .widget.h1 {
  height: 40px;
}

.deck .widget.h2 {
  height: 84px;
}

.deck .widget.w1 {
  width: 73px;
}

.deck .widget.w2 {
  width: 150px;
}

.deck .widget.w3 {
  width: 227px;
}

.deck .widget.w4 {
  width: 304px;
}

.deck .widget.h2 label {
  top: 4px;
}

.deck .widget .pad {
  position: relative;
  padding: 4px;
}

.deck .widget.h1 .pad {
  height: 32px;
}

.deck .widget.h2 .pad {
  height: 76px;
}

.deck .widget label {
  position: absolute;
  font-weight: normal;
  top: 0px;
}

.deck .f1 {
  font-size: 25px;
  line-height: 27px;
}

.deck .f2 {
  font-size: 23px;
  line-height: 25px;
}

.deck .f3 {
  font-size: 21px;
  line-height: 23px;
}

.deck .f4 {
  font-size: 17px;
  line-height: 19px;
}

.deck .f5 {
  font-size: 11px;
  line-height: 13px;
}

.deck .red {
  color: #C73737;
}

.deck .black {
  color: #444444;
}

.deck .blue {
  color: #4B93D5;
}

.deck .n {
  position: absolute;
  font-family: 'Ranchers', sans-serif;
  bottom: 2px;
}

.deck .n.f1 {
  font-size: 55px;
  line-height: 55px;
}

.deck > ul li {
  width: 308px;
  margin-top: 6px;
  margin-left: 6px;
  display: block;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;
}

.deck > ul li:last-child {
  margin-right: 7px;
}

body.profiles-open #profiles {
  left: 300px;
}

body.accounts-open #profile-nav {
  left: 280px;
}

body.accounts-open #profiles {
  left: 300px;
}