# This rewrite ruleset works on Pagoda and works locally, where I use
# symlinks across multiple paths to manage many local sites at a time.
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule . index.php [L]